body{
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	color: #172d5c;
}
/* header strat */
.header{
	padding: 15px 0;
	border-bottom: 2px solid #edede9;
}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}

.logo{
	width: 8%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	width: 55%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	padding: 0 20px;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #172d5c;
	text-decoration: none;
	display: inline-block;
}
.menu ul li a:hover{
	color: #008aff;
}

.menu ul li:last-child a{
	padding-right: 0;
}
/* header end */
/* banner start */
.banner{
	padding: 50px 0;
}
.container2{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.b_h1{
	padding: 0 50px;
	margin: 0;
	font-size: 50px;
}
.b_h1 span{
	color: #008aff;
}
.b_p{
	margin: 20px 0;
	line-height: 25px;
}
.b_img{
	width: 75%;
	margin: 0 auto;
}
.b_img img{
	width: 100%;
}
/* banner end */
/* success start */
.success{
	padding: 50px 0;
}
.container3{
	width: 55%;
	margin: 0 auto;
	overflow: hidden;
}
.s_left{
	width: 47%;
	padding-right: 10px;
	padding-left: 0;
	float: left;
	text-align: right;
}
.s_left h2{
	font-size: 40px;
	color: #f15767;
	margin: 0;
	
}
.s_left p{
	line-height: 25px;
	margin: 5px 0 0;
}
.s_right{
	width: 47%;
	padding-right: 10px;
	padding-left: 0;
	float: right;
}
.s_right h1{
	font-size: 45px;
	margin: 0;
}
/* success end */
/* feature start */
.feature{
	padding-bottom: 60px;
}
.f_single{
	float: left;
	width: 27%;
	padding: 50px 2.33%;
	/* border: 1px solid red; */
	margin-right: 2.5%;
}
.f_single:last-child{
	margin-right: 0;
}
.f_img img{
	width: 100%;
}
.f_single h2{
	margin: 20px 0;
	font-size: 25px;
}
.f_single p{
	margin: 0;
	line-height: 25px;
}
.pink{
	background-color: #FDEBED;
}
.green{
	background-color: #EBF9F4;
}
.yellow{
	background-color: #FFF7E8;
}
/* feature end */
/* footer start */
.footer{
	background-color: #008aff;
	padding: 30px 0;
}
.footer p{
	margin: 0;
	color: #91c7ff;
	text-align: center;
}
.footer p a{
	color: white;
	text-decoration: none;
}
/* footer end */
